.selection-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    column-gap: 10px;

    // align items in grid in the center
    align-items: center;
}

.slider-container {
    position: relative;
    width: calc(100% - 40px);
    height: 20px;
    overflow: visible;

    .line {
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #E5E9F0;
    }

    .snapshot {
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: translate(0px, 0px);

        transition: 0.2s linear;

        &.dragging {
            transition: none;
        }

        &.interactive {
            cursor: pointer;
        }

        &.slider {
            width: 30px;
            height: 30px;
            transform: translate(-5px, -5px);
            background: transparent;
            border: 4px solid #2E3440;
            z-index: 10;
        }

        &.selected {
            width: 30px;
            height: 30px;
            transform: translate(-5px, -5px);
            z-index: 9;
        }
    }
}
